.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  }

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 50px;
  background: #fff url('../images/bodyback.png') left top;
  box-shadow: 0px 8px 5px 0px rgba(44,44,44,0.1);
}

.header .container .logo img {
  height: 60px;
  max-width: 200px;
}

.header .container .logo a{
  color: #000;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.header .container nav {
  font-size: .8rem;
  text-align: center;
}

.header .container nav ul {
  display: flex;
  flex-wrap: wrap;
}

.header .container nav a {
  display: block;
  color: #380000;
  transition: all 200ms ease-in-out;
  font-size: 1.125em;
  padding: 10px;
}

.header .container nav a:hover {
  background: rgba(0, 0, 0, .1);
  border-radius: 5px;
  transition: all 200ms ease-in-out;
}


@media only screen and (max-width: 600px) {
  .header {
    position: unset;
    height: inherit;
  }

  .header .container {
    display: block;
    background: #fff url('../images/bodyback.png') left top;
    padding: 0 10px;
  }



  .header .container .logo {
    display: none;
  }

  .header .container nav {
    display: block;
  }
}
