body {
  font-family: "Helvetica", "Arial", sans-serif;
  margin: 0 auto;
  line-height: 1.5;
  background: #fff url('../images/bodyback.png') left top;
}

body, ul, li {
  padding: 0;
  margin: 0
}

ul {
    list-style-type: none;
}

h1 {
  font-size: 1.5em;
}

img {
  max-width: 15em;
  height: auto;
}

a, a:hover, a:visited {
  color: #000;
  text-decoration: none;
}

footer {
  color: #000;
  text-align: center;
  font-weight: bolder;
  height: 70px;
}

.icon {
  height: 20px;
}
