body, html {
  height: 100%;
  margin: 0;
}

img {
  width: 10em;
}

a {
  color: #00ACEE;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.date {
  font-size: 24px;
}

.twitter-text {
  font-size: 20px;
}

.content, .support {
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 25px;
}

.middle {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 10em;
}
