body, html {
  height: 100%;
  margin: 0;
}

img {
  width: 50%;
}

.content {
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 25px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
}
