body {
  font-family: "Helvetica", "Arial", sans-serif;
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 4em 1em;
}

.content {
  margin: auto;
  background: white;
  padding: 10px;
  text-align: center;
}

img {
  width: 15em;
}

hr {
  margin: auto;
  width: 10em;
}

a {
  color: #00ACEE;
  text-decoration: underline;
}

.button-cfp {
  background-color: #D62230;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.button-cfp:hover {
  background-color: #b01c28;
}
