<div class="container">
  <div class="logo">
    <a href="/">
      <img src="images/ruby-summit-brasil-logo-novo.png" title="RubySummitBrasil"
          alt="Logo da Ruby Summit Brasil com link para o site">
      <span>#RubySummitBrasil</span>
    </a>
  </div>
  <nav>
    <ul>
      <li><a href="#schedule">Programação</a></li>
      <li><a href="#past-editions">Edições</a></li>

      <li><a href="http://community.ruby.com.br/" target="_blank">Ruby & Comunidade</a></li>
      <li><a href="https://www.codamos.club/codigo-de-conduta" target="_blank">Código de Conduta</a></li>
    </ul>
  </nav>
</div>
