<div class="rubysummitbr">
  <p class="date">03 e 04 de Dezembro de 2021
    <br /> <strong>Online e Gratuito ❤️</strong>
  </p>

  <img
    src="images/ruby-summit-brasil-logo-novo.png"
    title="RubySummitBrasil"
    alt="Logo da Ruby Summit Brasil com link para o site"
  >

  <p class="twitter-text">
    <img class="icon" src="images/icons/twitter-icon-svg-28.png" title="twitter @rubysummitbr" alt="icone do twitter branco com link para o site">
    Siga <a href="https://twitter.com/rubysummitbr">@rubysummitbr</a>
  </p>

  <a href="https://www.youtube.com/c/RubySummitBrasil" class="button-cfp">Acompanhe todas as talks e novidades no Youtube</a>
</div>
