<div class="rubysummitbr">
  <p class="twitter-text">
    <img class="icon" src="images/icons/twitter-icon-svg-28.png" title="twitter @rubysummitbr" alt="icone do twitter branco com link para o site">
    Siga <a href="https://twitter.com/rubysummitbr">@rubysummitbr</a> para mais novidades!</p>
  <img
    src="images/ruby-summit-brasil-logo-novo.png"
    title="RubySummitBrasil"
    alt="Logo da Ruby Summit Brasil com link para o site"
  >

  <p class="date">04 e 05 de Dezembro de 2020
    <br /> <strong>Online e Gratuito ❤️</strong>
  </p>

  <a
    href="https://www.youtube.com/watch?v=T2eRCJ-cRfA&ab_channel=RubySummitBrasil"
    class="button-cfp" target="_blank">
    Assistir Dia 1 [04/12]
  </a>
  <br />
  <a
    href="https://www.youtube.com/watch?v=5iny08XDIUE&ab_channel=RubySummitBrasil"
    class="button-cfp" target="_blank">
    Assistir Dia 2 [05/12]
  </a>
</div>
