<div class="rubysummitbr">
  <p class="twitter-text">
    <img class="icon" src="images/icons/twitter-icon-svg-28.png" title="twitter @rubysummitbr" alt="icone do twitter branco com link para o site">
    Siga <a href="https://twitter.com/rubysummitbr">@rubysummitbr</a> para mais novidades!</p>
  <img
    src="images/ruby-summit-brasil-logo-novo.png"
    title="RubySummitBrasil"
    alt="Logo da Ruby Summit Brasil com link para o site"
  >

  <p class="date">04 e 05 de Dezembro de 2020
    <br /> <strong>Online e Gratuito ❤️</strong>
  </p>
</div>
