<section class="schedule">
  <h2>Programação de Palestras</h2>

  <img
    src="images/loading.jpg"
    alt="grade do evento em construção"
    title="grade do evento em construção"
  />
  <div class="days">
    <div class="track">
      <h3>Sexta 05/12</h3>
      <table>
        <colgroup>
          <col class="time">
          <col class="title">
        </colgroup>
        <tbody>
        <tr class="talk">
          <td>
            <span title="13:00, UTC +03:00">13h - 20h</span>
          </td>
          <td>
            <p>Já viu sua caixa de e-mail?
            Começamos o envio do Feedback do C4P
            </p>
            <span class="speaker-name">um desses nomes pode ser o seu!</span>
          </td>
        </tr>
        <tr class="talk-description">
          <td colspan="2">
            <p>Já viu sua caixa de e-mail?
              <br />Um desses nomes pode ser o seu!</p>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="track">
      <h3>Sábado 06/12</h3>
      <table>
        <colgroup>
          <col class="time">
          <col class="title">
        </colgroup>
        <tbody>
        <tr class="talk">
          <td>
          </td>
          <td>
          </td>
        </tr>
        <tr class="talk-description">
          <td colspan="2">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
