<section class="schedule">
  <h2>Programação</h2>

  <div class="days">
    <div class="track" data-day="friday">
      <h3>Sexta 03/12</h3>
      <table>
        <colgroup>
          <col class="time">
          <col class="title">
        </colgroup>
        <tbody></tbody>
      </table>
    </div>

    <div class="track" data-day="saturday">
      <h3>Sábado 04/12</h3>
      <table>
        <colgroup>
          <col class="time">
          <col class="title">
        </colgroup>
        <tbody></tbody>
      </table>
    </div>
  </div>
</section>
