<div class="sponsors-title">
  <h2>Empresas apoiadoras</h2>
</div>
<section class="sponsors">
	<div class="sponsor">
      <a href="https://rebase.com.br/" target="_blank">
      <img
        src="images/2021_sponsors/rebase.png"
        title="Rebase"
        alt="Visite o site da Rebase"
        >
    </a>
  </div>
	<div class="sponsor">
      <a href="https://campuscode.com.br/" target="_blank">
      <img
        src="images/2021_sponsors/campus-code-logo.png"
        title="Campus Code"
        alt="Visite o site da Campus Code"
        >
    </a>
  </div>
  <div class="sponsor">
      <a href="https://impulso.link/RubySummitBR" target="_blank">
      <img
        src="/images/2021_sponsors/impulso.png"
        title="Impulso"
        alt="Visite o site da Impulso"
        >
    </a>
  </div>
  <div class="sponsor">
      <a href="https://www.useorigin.com/" target="_blank">
      <img
        src="images/2021_sponsors/origin.svg"
        title="Origin"
        alt="Visite o site da Origin"
        >
    </a>
  </div>
  <div class="sponsor">
      <a href="https://www.vindi.com.br/" target="_blank">
      <img
        src="images/2021_sponsors/vindi.jpg"
        title="Vindi"
        alt="Visite o site da Vindi"
        >
    </a>
  </div>
  <div class="sponsor">
      <a href="https://www.lambda3.com.br/" target="_blank">
      <img
        src="images/2021_sponsors/lambda_3.png"
        title="Lambda3"
        alt="Visite o site da Lambda3"
        >
    </a>
  </div>
  <div class="sponsor">
      <a href="https://www.clicksign.com/" target="_blank">
      <img
        src="images/2021_sponsors/clicksign.webp"
        title="Clicksign"
        alt="Visite o site da Clicksign"
        >
    </a>
  </div>
  <div class="sponsor">
      <a href="https://www.portalsolar.com.br/" target="_blank">
      <img
        src="images/2021_sponsors/portal_solar.png"
        title="Portal Solar"
        alt="Visite o site da Portal Solar"
        >
    </a>
  </div>
</section>
