<div class="sponsors-title">
  <h2>Empresas apoiadoras</h2>
</div>
<section class="sponsors">
	<div class="sponsor">
    <p></p>
    <a href="https://vindi.com.br/">
      <img
        src="images/vindi-logo.jpg"
        title="Vindi"
        alt="Logo da Vindi com link para o site"
        >
    </a>
  </div>
	<div class="sponsor">
    <a href="https://campuscode.com.br/">
      <img
        src="images/campus-code-logo.png"
        title="Campus Code"
        alt="Logo da Campus Code com link para o site"
        >
    </a>
  </div>
  <div class="sponsor">
    <a href="https://www.revelo.com.br/">
      <img
       class="square-image"
       src="images/revelo-logo.jpg"
       alt="Logo da Revelo com link para o site"
       title="Revelo"
       >
    </a>
  </div>
  <div class="sponsor">
    <a href="https://www.govpredict.com/">
      <img
        src="images/gov-predict-logo.jpg"
        title="GovPredict"
        alt="Logo da GovPredict com link para o site"
        >
    </a>
  </div>
  <div class="sponsor">
    <a href="https://www.linuxtips.io/">
      <img
        src="images/linuxtips-logo.png"
        title="Linux Tips"
        alt="Logo da Linux Tips com link para o site"
        >
    </a>
  </div>
  <div class="sponsor">
    <a href="https://magrathealabs.com/">
      <img
        src="images/magrathea-logo-roxo.png"
        title="Magrathea"
        alt="Logo da Magrathea com link para o site"
        >
    </a>
  </div>
  <div class="sponsor">
    <a href="https://impulso.link/RubySummitBR">
      <img
        src="images/impulso-logo.jpg"
        title="Impulso"
        alt="Logo da Impulso com link para o site"
        >
    </a>
  </div>
  <div class="sponsor">
    <a href="casadocodigo.com.br">
      <img
        src="images/casa-do-codigo-logo.png"
        title="Casa do Código"
        alt="Logo da Casa do Código com link para o site"
        >
    </a>
  </div>
  <div class="sponsor">
    <a href="https://www.alura.com.br/">
      <img
        src="images/alura-logo.png"
        title="Alura"
        alt="Logo da Alura com link para o site"
        >
    </a>
  </div>
  <div class="sponsor">
    <a href="https://www.cashu.com.br/">
      <img
        src="images/cashu-logo.png"
        title="CashU"
        alt="Logo da CashU com link para o site"
        >
    </a>
  </div>
</section>
